---
layout: default
image: '/images/og.png'
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GEE0VSTJXH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GEE0VSTJXH');
</script>

<meta content="AndhraCentral" property="og:site_name">
<meta content="AndhraCentral.com" property="og:title">
<meta content="Telugu states latest political, movie and technology news from India and the world."
    property="og:description">
<meta content="https://andhracentral.com" property="og:url">
<meta content="https://res.cloudinary.com/acentral/image/upload/v1704006296/OpenGraph/og_avzuyx.png"
    property="og:image">

{% include section-hero.html %}

{% include section-gallery.html %}

{% include section-featured-posts.html %}

{% include section-tags.html %}

{% include section-authors.html %}